/* Cart.module.css */

.cart-page {
    width: 100%;
    max-width: 800px; /* Limiting width for larger screens */
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .cart-item {
        padding: 5px;
    }
}

.cart-page button {
    /* margin-top: 2rem; */
}

.checkout-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    outline: 1px solid white;
    margin-right: 10px;
}


/*** CartItem CSS ***/
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item > h2,
.cart-item > p,
.cart-item.quantity-controls {
    width: calc(100% / 4);
}


.quantity-button {
    background-color: #ddd;
    border: none;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.quantity-button:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

/* CartItem.module.css */

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-controls button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 0;
}

.quantity-controls span {
    margin: 0 10px;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .cart-item {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .quantity-controls {
        margin-top: 10px;
    }

    .quantity-controls button {
        margin: 0 5px;
    }

    .cart-item {
        text-align: center;
    }

    .cart-item > h2,
.cart-item > p,
.cart-item.quantity-controls {
    width: calc(100%);
}

}
