/* ProductList.module.css */
@import url("./../../assets/css/shared-variables.css");
.product-list-page {
    /* display: inline; */
    position: relative;
    width: calc(100vw - var(--aside-width));
    display: block;
}

.products-list-div {
    /* display: inline-flex; */
    /* margin-top: 800px; */
    /* padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem; */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    /* Add padding/margin for larger screens */
    margin: 0 auto;
    max-width: calc(
        100wv - var(--aside-width)
    ); /* Optional: Set a max width for the container */
}

.product-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #967559;
    border-top: 2px solid #b68e6b;
    border-bottom: 2px solid #5f4a38;
    border-radius: 4px;
    box-shadow: 0 0 10px #e0d28c2c;
    flex: 1;
    min-width: 300px;
    background: linear-gradient(180deg, #2d2828, transparent);
}

.product-list-item > p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Max antal rader */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-image {
    width: auto;
    height: auto;
    max-width: 320px;
    min-width: 100px;
    display: block;
    margin-top: 10px;
    border-radius: 2px;
    outline: 2px solid #2d2828;
}

.favorite-icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.product-list-item h2 {
    padding-top: 10px; /* Adjust this value to match the top position of the favorite icon */
    margin: 0;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .products-list-div {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    main > div {
        margin-top: 90px;
    }
    .product-list-page {
        width: 100%;
        margin: 0 auto;
    }
    .products-list-div {
        max-width: 100%;
        margin: 0 auto;
    }
}
