/* ProductList.module.css */

.product-list-page {
    margin-top: 100px;

    /* display: inline; */
}

.products-list-div {
    /* display: inline-flex; */
    /* margin-top: 800px; */
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem;

    /* Add padding/margin for larger screens */
    margin: 0 auto;
    max-width: 1600px; /* Optional: Set a max width for the container */
}

.product-list-item {
    /* width: auto;
    height: auto;
    max-width: 400px;
    min-width:200px */
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the content horizontally */
    padding: 1rem; /* Optional: Add padding for better spacing */
    border: 2px solid white;
}

/* .products-list-div ul {
    list-style: none;
} */

.product-image {
    width: auto;
    height: auto;
    max-width: 320px;
    min-width: 100px;
    display: block;
    margin-top: 10px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .products-list-div {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}