.about {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/cafe-background-blur.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    min-height: calc(100vh - (80px + 174px));
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-us-carousel {
    width: 40%;
}
.about-us-carousel img {
    width: 100%;
}

.about-us-text {
    text-align: left;
    width: 40%;
    margin-right: 4rem;
}

.about-us-text h1 {
    color: #f8f8f8;
}

.about-us-text p {
    font-size: 1rem;
    line-height: 1.6em;
    color: #f8f8f8;
}

/* h1,
p {
    text-shadow: 2px 2px black;
} */

@media screen and (max-width: 1200px) {
    .about-us-text h1 {
        font-size: 2rem;
    }
    .about-us-text p {
        line-height: 1.4em;
    }
    .about-us-carousel {
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .about {
        height: 100%;
    }
    .about-us {
        flex-direction: column;
    }
    .about-us-text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;
    }
    .about-us-carousel {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .about-us-text {
        width: 90%;
    }
    .about-us-carousel {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .about {
        margin: 0;
    }
    .about-us-text {
        width: 100%;
    }
    .about-us-text p {
        font-size: 0.9rem;
        width: 100%;
    }
    .about-us-carousel {
        width: 100%;
    }
}
