@import url("./../../assets/css/shared-variables.css");
aside {
    display: flex;
    flex-direction: column;
    width: var(--aside-width);
    position: relative;
    padding: 10px;
    z-index: 1;
}

aside section {
    display: flex;
    flex-direction: column;
    width: var(--aside-width);
    position: fixed;
    top: 100px;
    left: 0px;
    perspective: 4000px;
    overflow: hidden;
}

aside > section > button {
    width: 100%;
    margin: 0;
    height: 80px;
    border-bottom: 1px solid #57483bc2;
    border-top: 1px solid #967559;
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, transparent, #2d2828);
    margin-bottom: 4px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.1s;
    transform-origin: left center;
}

aside > section > button:hover {
    background: linear-gradient(90deg, transparent, #3f3838);
    border-top: 1px solid #f8f1cc;
    border-right: 1px solid #948f79;
    border-bottom: 1px solid #413f35;
    border-left: none;
    outline: none;
}
aside > section > button:hover img {
    transform: scale(1.15);
}

aside > section > button:active {
    outline: none;
    transform: rotateY(10deg);
}

aside > section > button:focus {
    outline: none;
}
aside > section > button > img {
    height: 26px;
    width: auto;
    transition: transform 0.1s;
}

@media screen and (max-width: 576px) {
    aside {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 0px;
    }

    aside section {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        position: fixed;
        top: 50px;
        left: 0px;
        perspective: 4000px;
        overflow: hidden;
    }
    aside > section > button {
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 10px 10px;
        font-size: 13px;
        text-align: center;
        width: calc(100vw / 7);
        transform-origin: top center;
        border-top: none;
        border-right: 1px solid #706c5c;
        border-bottom: 1px solid #57483b;
        border-left: 1px solid #504d41;
        background: linear-gradient(90deg, #242424, #2d2828);
        margin: 0;
    }
    aside > section > button:active {
        outline: none;
        transform: rotateX(12deg);
    }
    aside > section > button:hover {
        background: linear-gradient(90deg, #242424, #3f3838);
        border-top: none;
        border-right: 1px solid #948f79;
        border-bottom: 1px solid #413f35;
        border-left: 1px solid #948f79;
        outline: none;
    }
}
