/* src/components/ProductDetail/ProductDetail.module.css */

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.product-detail img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.product-detail h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-detail p {
    font-size: 1rem;
    margin: 5px 0;
}

.main-buttons {
    margin: 1rem 0.5rem 0 0.5rem;
}

@media (min-width: 600px) {
    .product-detail {
        flex-direction: row;
        align-items: flex-start;
    }

    .product-detail img {
        width: 50%;
        max-width: 600px;
        margin-right: 20px;
    }

    .product-detail h1 {
        font-size: 2.5rem;
    }

    .product-detail p {
        font-size: 1.2rem;
    }
}
