@import url("../../assets/css/shared-variables.css");

.hamburger-menu {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 2;
}
nav {
    background: #ddc19c;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0;
}
nav.open {
    transform: translateX(0);
    opacity: 1;
}
nav ul {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
nav ul button {
    background-color: initial;
    border-radius: 0px;
    border: initial;
    padding: 1rem;
    margin: 0;
}
nav ul button img {
    width: 24px;
}
nav ul li {
    padding: 1rem;
    font-size: 18px;
    cursor: pointer;
}
nav ul li a:hover {
    border-bottom: 1px solid black;
}

.nav-menu-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-menu__button {
    position: absolute;
    right: 20px;
}

.nav-menu-menu__sub-menu {
    list-style-type: none;
    padding-left: calc((var(--nav-menu-width) / 2));
    text-align: left;
}
.line {
    width: 93%;
    height: 3px;
    padding-left: 2px;
    background-color: #000;
    transition: all 0.2s ease;
}

.hamburger-menu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    margin-top: 3px;
}

.hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
    width: 0;
    margin: 0 auto;
}

.hamburger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 1200px) {
    nav {
        width: 30%;
    }
}
@media screen and (max-width: 992px) {
    nav {
        width: 40%;
    }
}
@media screen and (max-width: 576px) {
    .hamburger-menu {
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }
    .line {
        height: 2px;
    }
    nav {
        width: 100%;
    }
}
