@import url("../../assets/css/shared-variables.css");

.hamburger-menu {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background: rgb(150, 139, 150);
    border-radius: 3px;
    border: 2px solid black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

nav {
    background: blue;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--nav-menu-width);
    height: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0;
}

nav.open {
    transform: translateX(0);
    opacity: 1;
}

nav > ul {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: center;
    margin-left: -60px;
    width: 100%;
    background: violet;
}

.nav-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: yellow;
}

.nav-menu-header > p {
    color: green;
    margin-left: 80px;
}

.nav-menu-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-menu-menu__button {
    position: absolute;
    right: 20px;
}

.nav-menu-menu__sub-menu {
    list-style-type: none;
    padding-left: calc((var(--nav-menu-width) / 2));
    text-align: left;
}
.line {
    width: 93%;
    height: 3px;
    padding-left: 2px;
    background-color: #000;
    transition: all 0.2s ease;
}

.hamburger-menu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    margin-top: 3px;
}

.hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
    width: 0;
    margin: 0 auto;
}

.hamburger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
