footer {
    background-color: #2d2828;
    color: #f8f8f8;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 100%; */
}
.footer-container-top,
.footer-container-bottom {
    display: flex;
}
.footer-container-left {
    display: flex;
    text-align: left;
    width: 50%;
}
.footer-container-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-text-left > p {
    margin: 10px;
    font-size: 14px;
}
.footer-text-right > p {
    margin: 10px;
    margin-left: 40px;
    font-size: 14px;
}

footer a {
    width: 40px;
    margin: 10px;
}
footer img {
    width: 40px;
    border-radius: 50%;
}
footer img:hover {
    background-color: #a98c58;
}

@media screen and (max-width: 992px) {
    footer {
        flex-direction: column;
    }
    .footer-container-left {
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .footer-container-right {
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    footer {
        padding: 10px;
    }
    .footer-container-left {
        flex-direction: column;
    }
    .footer-text-right > p {
        margin-left: 10px;
    }
}
