.sign-up-button-container {
    /* width: 75px; */
    /* height: 35px; */
    /* background: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
}
