.profile-manager-wrapper {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

.profile-manager {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-list-container {
    text-align: left;
    width: 30vw;
    min-width: 300px;
}

.profile-list-container > h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-block-end: -18px;
    padding-left: 10px;
    min-width: 400px;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: 2px solid red; */
    border-radius: 9px;
    width: 30vw;
    min-width: 140px;
}

.edit-profile-form > label {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.edit-profile-form > h2 {
    text-align: center;
}

.profile-list {
    list-style-type: none;
    border-radius: 2px;
    /* border: 2px solid grey; */
    overflow: hidden;
}

.profile-list > li {
    cursor: pointer;
    text-align: left;
    margin-left: -40px;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-list > li:hover {
    cursor: pointer;
    text-align: left;
    margin-left: -40px;
    padding-left: 30px;
    outline: 2px solid hotpink;
}

.profile-list > li:nth-child(even) {
    background: linear-gradient(90deg, darkgrey, transparent 95%);
}

.profile-list > li:nth-child(odd) {
    background: linear-gradient(90deg, grey, transparent 95%);
}

.profile-list > li:nth-child(even):hover {
    background: linear-gradient(90deg, rgb(172, 108, 108), transparent 95%);
}

.profile-list > li:nth-child(odd):hover {
    background: linear-gradient(90deg, rgb(128, 79, 79), transparent 95%);
}

.selected {
    font-size: 24px;
    background: linear-gradient(90deg, #5a5a5a, transparent 95%) !important;
    color: red;
}

.disabled-form input {
    background-color: #333;
    color: #999;
    cursor: not-allowed;
}
